/* Full screen version */

body {
  margin: 0;
  background-color: 
black;

}
.text {
  color: #FEAE51FF;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  column-count: 2;
  column-gap: 30px;

}

.text1 {
  color: #FEAE51FF;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  column-count: 1;
  column-gap: 30px;

}

.banner1 {
  max-width: 100%;
  display: block;
  margin: auto;
  padding-top: 80px;
}

.banner2 {
  max-width: 100%;
  display: none;
  margin: auto;
  padding-top: 50px;
}

section {
  width: initial;
  background-color:black; 
  margin: auto;
  padding: 100px;
}

#Richard {
  display: block;
  margin: auto;
  
}

#Amnesty {
  display: block;
  margin: auto;
}

#perftech {
  display: block;
  margin: auto;
}

#prod1 {
  display: block;
  margin:auto;
}
  

#image1 {
  background-image: url(../images/shwag.jpg);
  background-size: 100%;
  max-width: 100%;
  height: 400px;
  background-attachment: fixed;
}

#image2 {
background-image: url(../images/williehandsome.jpg);
 background-size: 100%;
  max-width: 100%;
  height: 400px;
  background-attachment: fixed;
}

#image3 {
background-image: url(../images/benferguson.png);
 background-size: 100%;
  max-width: 100%;
  height: 400px;
  background-attachment: fixed;
}

h1 {
  color: #FEAE51FF;
  font-size: 28px;
  font-family: font78903;
  text-align: left; 
}

h2 {
  color: #FEAE51FF;
  font-size: 28px;
  font-family: font78903;
  text-align: left; 
  

}

h3 {
  color: #FEAE51FF;
  font-size: 28px;
  font-family: font78903;
  text-align: left; 
}

h4 {
  color: #FEAE51FF;
  font-size: 28px;
  font-family: font78903;
  text-align: left; 
}

h5 {
  color: #FEAE51FF;
  font-size: 28px;
  font-family: font78903;
  text-align: left; 
}

h6 {
  color: black;
  font-size: 28px;
  font-family: font78903;
  text-align: left;
}

footer {
  width: initial;
  background-color: #FEAE51FF;
  height: 100px;
  padding: 20px;

  
}



* {
	margin:0;
	padding:0;
}

.nav-bar {
	width: 100%;
	position: fixed;
	height:auto;
	z-index: 999;
	top: 0;
	font-size: 18px;
  background-color: red;
}
.nav-bar li:last-child {
	margin-right: 60px;
}

a {
	text-decoration: none;
	color:inherit;
}

nav ul {
	overflow: hidden;
	text-align:center;
	padding: 1%;
	margin-left: 0;
  -webkit-transition: max-height 0.4s;
	-ms-transition: max-height 0.4s;
	-moz-transition: max-height 0.4s;
	-0-transition: max-height 0.4s;
	transition: max-height 0.4s;
}

nav ul li {
	display: inline-block;
	text-transform: uppercase;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 400;
	padding: 10px 15px;
	letter-spacing: 1px;
	color: #FEAE51FF;
}

 nav a:hover {
	color: white;
}
/* Mobile navigation */
.mobile-icon {
	width: 100%;
	text-align: right;
	box-sizing: border-box;
	cursor: pointer;
	color: #FEAE51FF ;
	display: none;
	font-size: 20px;
	font-family: bold;
	margin: 2% 2%;
	position: relative;
	padding-left: 1.25em;
}
/* style of mobile icron */
.mobile-icon:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0.2em;
	width: 1.2em;
	height: 0.16em;
	background: #FEAE51FF;
	box-shadow: 0 0.35em 0 0 #FEAE51FF, 0 0.7em 0 0 #FEAE51FF;
}     
/* end */

@media screen and (max-width: 700px) {
	
		.mobile-icon {
			display: block;
		}

		nav ul {
			max-height: 0px;
			padding: 0px;
		}
		
		/* mobile nav  */
		.showing {
			max-height: 20em;
			padding-bottom: 10px;
			font-size: 18px;
		}
		/* end */

		.nav-bar {
			width:100%;
			background-color: red;
		}

		nav ul li {
			box-sizing: border-box;
			width: 100%;
			text-align: center;
		}
		
		nav ul li:hover {
			background-color: #FEAE51FF;
			width: 100%;
        color: white;
		}

		.nav-bar {
			display: block;
		}
}



/* MOBILE VERSION */

@media screen and (max-width: 700px) {
	/* images */
  #image1 {
    display: none;
  }
#image2 {
    display: none;
  }

#image3 {
    display: none;
  }


 .text {
   column-count: 1;
 }
 
.banner1 {
  display: none;
}

.banner2 {
  display: block;
}

 







